<html>
  <head>
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/css/bootstrap-rtl.min.css">
    <style>
      @font-face {
        font-family: 'droidkufi';
        src : url("http://localhost:3000/fonts/DroidKufi-Regular.ttf") format("truetype");
          }
      body {
        font-family: 'droidkufi', sans-serif; 
      }
      .englishStyle{
        font-family: Times, "Times New Roman", Georgia, serif;
      }
    </style>
    <meta charset="utf-8"/>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
          <div style="height: 65px;"></div>
          <div class="row">
            <div class="col-xs-6 text-right">
              <!-- <h1>Logo R</h1> -->
            </div>
            <div class="col-xs-6 text-left">
              <!-- <h1>Logo L</h1> -->
            </div>
          </div>
          <div class="row">
            <div class="pull-right">
              <div> وزارة التعليم العالى والبحث العلمى </div>
              
              <div> الهيئة الوطنية للتعليم التقنى والفني </div>
              
              <div> ادارة المعاهد التقنية العليا </div>
              <div style="height: 20px;"></div>
              <div><b> ( اسم المعهد ) </b></div>
              <div style="height: 10px;"></div>
              <span>إشاري<span> : ...................... </span></span>
            </div>
            <div class="text-left englishStyle">
              <div>Ministry of Higher Education & Scientific Research </div> 
              <div> National Board for Technical & Vocational Education </div>
              <div>Higher Technical Institutions Administration </div>
              <div style="height: 20px;"></div>
              <span><b> Name of Institute </b></span>
              <div style="height: 10px;"></div>
              <span>التاريخ<span> : ...../....../.....20  </span></span>
            </div>
          </div>
          <div style="height: 10px;"></div>
          <div class="row text-center" >
            <h3>إفادة تخرج <span>/</span> Graduation Certificate</h3>
          </div>
          <div style="height: 15px;"></div>
          <div class="row" >
            <div class="col-xs-6 pull-right">
              <span> يفيد <span>(</span>اسم المعهد <span>)</span><span>:</span> </span>
              <div style="height: 30px;"></div>
              <span> الطالب <span>(</span>رباعي<span>)</span> <span>:</span>
                <b style="font-size: 12px">عبدالقدوس كمال الدين محمد ابوراس</b> </span>
              <div style="height: 3px;"></div>
              <div> رقم القيد <span>:</span>
                 </div>
              <div style="height: 3px;"></div>
              <div> الجنسية <span>:</span>
                 </div>
              <div style="height: 3px;"></div>
              <div> الرقم الوطني <span>:</span>
                  </div>
              <div style="height: 3px;"></div>
              <div> تاريخ و مكان الميلاد <span>:</span>
                 </div>
              <div style="height: 3px;"></div>
              <div> قد تحصل على <span>:</span>
                </div>
              <div style="height: 3px;"></div>
              <div> القسم <span>:</span>
                </div>
              <div style="height: 3px;"></div>
              <div> الشعبة <span>:</span>
                 </div>
              <div style="height: 3px;"></div>
              <div> الفصل الدراسي <span>:</span>
                 </div>
              <div style="height: 3px;"></div>
              <div> العام الدراسي <span>:</span>
                 </div>
              <div style="height: 3px;"></div>
              <div> المعدل العام <span>:</span>
                 </div>
              <div style="height: 3px;"></div>
              <div> التقدير <span>:</span>
                 </div>
            </div>
            <div class="col-xs-6  pull-left text-left">
              <div> <span>:</span>This is to certify that </div>
              <div style="height: 30px;"></div>
              <div>  <span>:</span> 
                Student <span style="font-size: 11px">Abdulqudoss Kmal-Addin Muhammed Aburass</span></div>
                 
              <div style="height: 3px;"></div>
              <div>  <span>:</span> 
                Reg<span>.</span> No </div>
              <div style="height: 3px;"></div>
              <div>  <span>:</span> 
                Nationality </div>
              <div style="height: 3px;"></div>
              <div>  <span>:</span> 
                Nadival No </div>
              <div style="height: 3px;"></div>
              <div>  <span>:</span> 
                Date & Place of birth </div>
              <div style="height: 3px;"></div>
              <div>  <span>:</span> 
                Has been Awarded  </div>
              <div style="height: 3px;"></div>
              <div>  <span>:</span> 
                Department  </div>
              <div style="height: 3px;"></div>
              <div>  <span>:</span> 
                Division  </div>
              <div style="height: 3px;"></div>
              <div>  <span>:</span> 
                Semester  </div>
              <div style="height: 3px;"></div>
              <div>  <span>:</span> 
                Academic Year  </div>
              <div style="height: 3px;"></div>
              <div>  <span>:</span> 
                Percentage  </div>
              <div style="height: 3px;"></div>
              <div>  <span>:</span> 
                General Grad  </div>
            </div>
          
          <div style="height: 25px;"></div>
          
            <div class="pull-right">
              
            </div>
            <div class="pull-left" >
              
            </div>
          </div>
          <div style="height: 55px;"></div>
          <div class="row" >
            <div class="col-xs-6 text-center" >
              <span> مدير مكتب التسجيل و الدراسة و الامتحانات </span>
              <div style="height: 10px;"></div>
              <span> Institute Register </span>
            </div>
            <div class="col-xs-6 text-center" >
              <span> مدير عام المعهد </span>
              <div style="height: 10px;"></div>
              <span> Dean of Institute </span>
            </div>
          </div>
          <div style="height: 150px;"></div>
          <div class="row text-right" >
            <h6 style="font-size: 10px;"><span> ملاحظة <span>:</span> أي كشط أو تغيير في هذه اﻹفادة يلغيها <span>.</span> </span></h6>
          </div>
          <div style="height: 11px;"></div>
          <div class="row">
          <!--   <small>
              <span> الموقع الالكتروني <span>:</span> naga.ly 
              <span> صندوق البريد <span>:</span> 00000 
              <span> فاكس <span>:</span> 00000000 
              <span> هاتف <span>:</span> 0922222222 
              <span> العنوان <span>:</span> 000000000000 
              <span>.</span> </span>
            </small> -->
          </div>
        </div>
      </div>  
    </div>
  </body>
</html>