<html>
  <head>
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/css/bootstrap-rtl.min.css">
    <style>
      @font-face {
        font-family: 'droidkufi';
        src : url("http://localhost:3000/fonts/DroidKufi-Regular.ttf") format("truetype");
          }
      body {
        font-family: 'droidkufi', sans-serif; 
      }
    </style>
    <meta charset="utf-8"/>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-6 text-right">
          <h1>Logo R</h1>
        </div>
        <div class="col-xs-6 text-left">
          <h1>Logo L</h1>
        </div>
      </div>
      <div class="row">
        <div class="pull-right">
          <span> وزارة التعليم العالى والبحث العلمى </span>
          <div style="height: 10px;"></div>
          <span> الهيئة الوطنية للتعليم التقنى والفني </span>
          <div style="height: 10px;"></div>
          <span> ادارة المعاهد التقنية العليا </span>
          <div style="height: 20px;"></div>
          <span><b> ( اسم المعهد ) </b></span>
          <div style="height: 20px;"></div>
          <span>إشاري<span> : ...................... </span></span>
        </div>
        <div class="text-left">
          <span>Ministry of Higher Education & Scientific Research </span>
          <div style="height: 10px;"></div>
          <span> National Board for Technical & Vocational Education </span>
          <div style="height: 10px;"></div>
          <span>Higher Technical Institutions Administration </span>
          <div style="height: 20px;"></div>
          <span><b> Name of Institute </b></span>
          <div style="height: 20px;"></div>
          <span>التاريخ<span> : ...../....../.....20  </span></span>
        </div>
      </div>
      <div style="height: 10px;"></div>
      <div class="row text-center" >
        <h3>إفادة تخرج <span>/</span> Graduation Certificate</h3>
      </div>
      <div style="height: 15px;"></div>
      <div class="row" >
        <div class="pull-right">
          <span> يفيد <span>(</span>اسم المعهد <span>)</span><span>:</span> </span>
        </div>
        <div class="pull-left">
          <span> <span>:</span>This is to certify that </span>
        </div>
      </div>
      <div style="height: 30px;"></div>
      <div class="row" >
        <div class="col-xs-6 text-right" >
          <span> الطالب <span>(</span>رباعي<span>)</span> <span>:</span>
             <span>
          <div style="height: 10px;"></div>
          <span> رقم القيد <span>:</span>
             <span>
          <div style="height: 10px;"></div>
          <span> الجنسية <span>:</span>
             <span>
          <div style="height: 10px;"></div>
          <span> الرقم الوطني <span>:</span>
             <span>
          <div style="height: 10px;"></div>
          <span> تاريخ و مكان الميلاد <span>:</span>
             <span>
          <div style="height: 10px;"></div>
          <span> قد تحصل على <span>:</span>
             <span>
          <div style="height: 10px;"></div>
          <span> القسم <span>:</span>
             <span>
          <div style="height: 10px;"></div>
          <span> الشعبة <span>:</span>
             <span>
          <div style="height: 10px;"></div>
          <span> الفصل الدراسي <span>:</span>
             <span>
          <div style="height: 10px;"></div>
          <span> العام الدراسي <span>:</span>
             <span>
          <div style="height: 10px;"></div>
          <span> المعدل العام <span>:</span>
             <span>
          <div style="height: 10px;"></div>
          <span> التقدير <span>:</span>
             <span>
        </div>
        <div class="col-xs-6 text-left" >
          <span>  <span>:</span> 
            Student <span>
          <div style="height: 10px;"></div>
          <span>  <span>:</span> 
            Reg<span>.</span> No <span>
          <div style="height: 10px;"></div>
          <span>  <span>:</span> 
            Nationality <span>
          <div style="height: 10px;"></div>
          <span>  <span>:</span> 
            National No <span>
          <div style="height: 10px;"></div>
          <span>  <span>:</span> 
            Date & Place of birth <span>
          <div style="height: 10px;"></div>
          <span>  <span>:</span> 
            Has been Awarded  <span>
          <div style="height: 10px;"></div>
          <span>  <span>:</span> 
            Department  <span>
          <div style="height: 10px;"></div>
          <span>  <span>:</span> 
            Division  <span>
          <div style="height: 10px;"></div>
          <span>  <span>:</span> 
            Semester  <span>
          <div style="height: 10px;"></div>
          <span>  <span>:</span> 
            Academic Year  <span>
          <div style="height: 10px;"></div>
          <span>  <span>:</span> 
            Percentage  <span>
          <div style="height: 10px;"></div>
          <span>  <span>:</span> 
            General Grad  <span>
        </div>
      </div>
      <div style="height: 55px;"></div>
      <div class="row" >
        <div class="col-xs-6 text-center" >
          <span> مدير مكتب التسجيل و الدراسة و الامتحانات </span>
          <div style="height: 10px;"></div>
          <span> Institute Register </span>
        </div>
        <div class="col-xs-6 text-center" >
          <span> مدير عام المعهد </span>
          <div style="height: 10px;"></div>
          <span> Dean of Institute </span>
        </div>
      </div>
      <div style="height: 95px;"></div>
      <div class="row text-right" >
        <small><span> ملاحظة <span>:</span> أي كشط أو تغيير في هذه الافادة يلغيها <span>.</span> </span></small>
      </div>
      <div style="height: 15px;"></div>
      <div class="row">
        <small>
          <span> الموقع الالكتروني <span>:</span> naga.ly 
          <span> صندوق البريد <span>:</span> 00000 
          <span> فاكس <span>:</span> 00000000 
          <span> هاتف <span>:</span> 0922222222 
          <span> العنوان <span>:</span> 000000000000 
          <span>.</span> </span>
        </small>
      </div>
    </div>
  </body>
</html>