<html>
  <head>
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/css/bootstrap-rtl.min.css">
    <style>
      @font-face {
        font-family: 'Amiri';
        src: url("http://localhost:3000/fonts/amiri-regular.ttf") format("truetype");
      }
      body {
        font-family: 'Amiri';
      }
      .fontSize{
        font-size: 19px;
      }
      .fontSizeBody{
        font-size: 15px;
      }
    </style>
    <meta charset="utf-8"/>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
          
          <div style="height: 65px;"></div>
          
          <div class="text-center fontSize">
            <div> وزارة التعليم العالى والبحث العلـمى </div>
            <div> الهيئة الوطنية للتعليم التقنى والفني </div> 
            <div> ادارة المعاهد التقنية العليا </div>
            <div> المعهد العالي للـمهن الطبية القره بوللي </div>
            <div style="height: 25px;"></div>
          </div>
          
          <div class="pull-right">
            <span>إشاري<span> : ...................... </span></span>
          </div>
          
          <div class="text-left">
            <span>التاريـخ<span> : ...../....../.....20  </span></span>
          </div>

          <div style="height: 10px;"></div>

          <div class="row text-center" >
            <h3> إفادة تخرج </h3>
          </div>

          <div style="height: 20px;"></div>
          
              <div class="fontSizeBody">
                يفيدكم المعهد العالي للـمهن الطبية القره بوللي بان الطالب <span>(</span>رباعي<span>) : ...................................................................
                <div style="height: 5px;"></div>
                 </span> والمسجل تحت رقم القيد<span> : ........................ ,</span>
                 الجنسيه <span> : ....................... ,</span>
                  الرقم الوطني <span> : ................................. ,</span>
                  <div style="height: 5px;"></div>
                  تاريـخ ومكان الميلاد <span> : ..................... ,</span> 
                  <div style="height: 5px;"></div>
                  قد أنهى جميع متطلبات التخرج للحصول على درجة الدبلوم العالي في مجال التخصص
                  <div style="height: 5px;"></div>
                  بقسم <span> : ..................... ,</span> 
                  شعبة <span> : ..................... ,</span> 
                  للفصل الدراسي <span> : ..................... ,</span> 
                  <div style="height: 5px;"></div>
                  والعام الدراسي <span> : ..................... ,</span> 
                  بتقدير <span> : ..................... ,</span> 
                  وبمعدل عام <span> : ..................... %.</span> 
  
                  <div style="height: 35px;" ></div>
  
                  <div class="text-center">
                    أعطيت هذه اﻹفادة بعد الاطلاع على الملف العلمي للمعنى لاستعمالها فيما يخوله القانون .
                  </div>
              </div>

          <div style="height: 90px;"></div>
          
          <div class="row" >
            <div class="col-xs-6 text-center" >
              <span> مدير مكتب التسجيل و الدراسة و الامتحانات </span>
              <div style="height: 10px;"></div>
              <span> الاسم <span>: ...................</span>  </span>
            </div>
            <div class="col-xs-6 text-center" >
              <span> مدير عام المعهد </span>
              <div style="height: 10px;"></div>
              <span> الاسم <span>: ...................</span>  </span>
            </div>
          </div>
          
          <div style="height: 90px;"></div>
          
          <div class="row text-right" >
            <h6 style="font-size: 13px;"><span> ملاحظة <span>:</span> أي كشط أو تغيير في هذه اﻹفادة يلغيها <span>.</span> </span></h6>
          </div>

          <div style="height: 11px;"></div>

        </div>
      </div>  
    </div>
  </body>
</html>