extends layout
block authenticationStyle
block errorStyle
block content
  script(src='/js/jquery-1.11.2.min.js')
  script(src='/js/bootstrap.min.js')
  script(src='/js/jquery.validate.min.js')
  script(src='/js/backToTop.js')
  