<html>
  <head>
    <meta charset="utf-8">
    <title>jsreport <%= version %></title>
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/css/bootstrap-rtl.min.css">
    <style>
      @font-face {
        font-family: 'droidkufi';
        src : url("http://localhost:3000/fonts/DroidKufi-Regular.ttf") format("truetype");
          }
      body {
        font-family: 'droidkufi', sans-serif;
        font-size: 12px;
      }
      .table,.table>thead>tr>th{
        font-size: 15px;
        border: 2px solid #000;
        /*border-style:dotted;*/
      }
      .table,.table>tbody>tr>td{
        font-size: 15px;
        border: 1px dotted #000;
        border-top-style:none;
        /*border-style:dotted;*/
      }
      .condensed>thead>tr>th {
        padding: 5px;
      }
      .condensed>tbody>tr>td {
        padding: 15px;
      }
      #span{
        height: 10px;
      }
      h3 {
        font-weight: 900;
      }
    </style>
    <meta charset="utf-8"/>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-4">
          <div class="pull-right"> 
            <h4>وزارة التعليم العالـــــــــــي والبحث العلــــمي
            <div id="span"></div>
            الهيئة الوطنية للتعليم التقنــــي والفنــــي
            <div id="span"></div>
            المعهد العالي للمهن الطبية القره بوللي</h4>
          </div>
        </div>
        <div class="col-xs-5">
          <div class="text-center"> 
            <h2> كشف رصد درجات الامتحان النهائي </h3>
          </div>
          <div class="text-center"> 
            <h3> للفصل الدراسي <span>:</span> ربيع 2015 </h3>
          </div>
        </div>
        <div class="col-xs-3">
          <div class="pull-left">
            <h4>الفصـــل <span>/ ...................</span></h4>
            <h4>الشعبة <span>/ ....................</span></h4>
          </div>
        </div>
        <div class="col-xs-12">
          <br/>
          <table class="table">
            <thead>
              <tr style="border-top-style: solid;border-top-width: 2px;">
                <th class="text-center" width="1%">ت</th>
                <th class="text-center" width="13%">اسم الطالب</th>
                <th class="text-center" width="6%">رقم القيد</th>
                <th class="text-center" width="1%">درجــــــــــــة</th>
                <th class="text-center"></th>
                <th class="text-center"></th>
                <th class="text-center"></th>
                <th class="text-center"></th>
                <th class="text-center"></th>
                <th class="text-center"></th>
                <th class="text-center"></th>
                <th class="text-center"></th>
                <th class="text-center"></th>
                <th class="text-center"></th>
                <th class="text-center"></th>
                <th class="text-center"></th>
                <th class="text-center" width="8%">المجموع العام</th>
                <th class="text-center" width="8%">التقدير العام</th>
                <th class="text-center" width="9%">النتيجة النهائية</th>
              </tr>
            </thead>
            <tbody style="border: 2px solid #000;">
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td style="font-size: 12.3px;">أعمال السنة</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>العملـــــــي</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td style="font-size: 14px;">نهاية العام</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>المجمـــــوع</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
            <tbody style="border: 2px solid #000;">
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td style="font-size: 12.3px;">أعمال السنة</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>العملـــــــي</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td style="font-size: 14px;">نهاية العام</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>المجمـــــوع</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
            <tbody style="border: 2px solid #000;">
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td style="font-size: 12.3px;">أعمال السنة</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>العملـــــــي</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td style="font-size: 14px;">نهاية العام</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>المجمـــــوع</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
            <tbody style="border: 2px solid #000;">
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td style="font-size: 12.3px;">أعمال السنة</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>العملـــــــي</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td style="font-size: 14px;">نهاية العام</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>المجمـــــوع</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
            <tbody style="border: 2px solid #000;">
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td style="font-size: 12.3px;">أعمال السنة</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>العملـــــــي</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td style="font-size: 14px;">نهاية العام</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>المجمـــــوع</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>