<html>
  <head>
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/css/bootstrap-rtl.min.css">
    <style>
      @font-face {
        font-family: 'droidkufi';
        src : url("http://localhost:3000/fonts/DroidKufi-Regular.ttf") format("truetype");
          }
      body {
        font-family: 'droidkufi', sans-serif; 
      }
    </style>
    <meta charset="utf-8"/>
  </head>
  <body>
    <div class="container">
      <div style="height: 45px;"></div>
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <div class="row">
            <div class="col-xs-4 text-right">
              <h1>Logo R</h1>
            </div>
            <div class="col-xs-4 text-center">
              <div style="height: 45px;"></div>
              <h4>الهية الوطنية للتعليم التقني و الفني</h4>  
              <h4>إدارة المعاهد التقنية العليا</h4>  
              <h4>أسم المعهد</h4>  
            </div>
            <div class="col-xs-4 text-left">
              <h1>Logo L</h1>
            </div>
          </div>
          <div style="height: 10px;"></div>
          <div class="row text-center" >
            <h2> شهادة تخرج </h2>
          </div>
          <div style="height: 15px;"></div>
          <div class="row text-center">
            <span> يشهد المعهد العالي <span>...........................</span> بأن </span>
          </div>
          <div style="height: 35px;"></div>
          <div class="row text-center">
            <span> أسم الطالب </span>
          </div>
          <div style="height: 35px;"></div>
          <div class="row text-center">
            <span> قد تحصل على الدبلوم العالي المعتمد من قبل الهيئة الوطنية للتعليم التقني و الفني بقسم <span>.................</span> شعبة <span>.............</span> بالفصل الدراسي <span>..............</span> </span>
          </div>
          <div style="height: 35px;"></div>
          <div class="row text-center">
            <span> التاريخ يوم <span>/</span> شهر <span>/</span> سنة  </span>
          </div>
          <div style="height: 55px;"></div>
          <div class="row text-right" >
            <small><span> مدير مكتب التسجيل و الدراسة و الامتحانات </span></small>
          </div>
          <div class="row text-left">
            <small><span> مدير عام المعهد </span></small>
          </div>
          <div style="height: 15px;"></div>
          <div class="row">
         
          </div>
        </div>
      </div>
    </div>
  </body>
</html>