doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-rtl.min.css')
    block contentStyle
      link(rel='stylesheet', href='/css/navbarStyle.css')
      link(rel='stylesheet', href='/css/cPanelStyle.css')
    block authenticationStyle
      link(rel='stylesheet', href='/css/authenticationStyle.css')
    link(rel='stylesheet', href='/css/bootstrap-select.min.css')
    link(rel='stylesheet', href='/css/bootstrap-datetimepicker.min.css')
    link(rel='stylesheet', href='css/animate.min.css')
    //- link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='css/sweet-alert.css')
    link(rel='stylesheet', href='/css/customStyle.css')
  body
    block navBar
      .container-fulid.font
        nav.navbar.navbar-default(role="navigation")
          // Brand and toggle get grouped for better mobile display
          .navbar-header
            button.navbar-toggle(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href="http://www.jquery2dotnet.com") الدراسة والامتحانات
          // Collect the nav links, forms, and other content for toggling
          #bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav
              li(class=active)
                a(href="#")
                  span.glyphicon.glyphicon-home
                  |  لوحة التحكم
              li
                a(href="#")
                  span.glyphicon.glyphicon-calendar
                  |  التقويم
              li.dropdown
                a.dropdown-toggle(href="#", data-toggle="dropdown")
                  span.glyphicon.glyphicon-list-alt
                  |  أدوات
                  b.caret
                ul.dropdown-menu
                  li
                    a(href="http://www.jquery2dotnet.com") Action
                  li
                    a(href="http://www.jquery2dotnet.com") Another action
                  li
                    a(href="#") Something else here
                  li.divider
                  li
                    a(href="#") Separated link
                  li.divider
                  li
                    a(href="#") One more separated link
              li.dropdown
                a.dropdown-toggle(href="#", data-toggle="dropdown")
                  span.glyphicon.glyphicon-search
                  |  بحث
                  b.caret
                ul.dropdown-menu(style="min-width: 275px;")
                  li
                    .row
                      .col-md-12
                        form.navbar-form.navbar-left(role="search")
                          .input-group
                            input.form-control(type="text", placeholder="بحث",style="padding-bottom: 0px;")
                            span.input-group-btn
                              button.btn.btn-primary(type="button")
                                | اذهب!
            ul.nav.navbar-nav.navbar-right
              li.dropdown
                a.dropdown-toggle(href="#", data-toggle="dropdown")
                  span.glyphicon.glyphicon-user
                  |  اسم المستخدم
                  b.caret
                ul.dropdown-menu
                  li
                    a(href="#")
                      span.glyphicon.glyphicon-user
                      |  الملف الشخصي
                  li
                    a(href="#")
                      span.glyphicon.glyphicon-cog
                      |  الاعدادات
                  li.divider
                  li
                    a(href="#")
                      span.glyphicon.glyphicon-off
                      |  خروج
          // /.navbar-collapse
    block navcPanel
      .container
        .row
          .col-xs-12.col-md-2
            #accordion.panel-group
              .panel.panel-default
                .panel-heading.font
                  h4.panel-title
                    a(data-toggle="collapse", data-parent="#accordion", href="#collapseOne")
                      span.glyphicon.glyphicon-folder-close
                      |  المحتوى
                #collapseOne.panel-collapse.collapse.in
                  .panel-body#panel-body
                    table.table
                      tr
                        td
                          span.glyphicon.glyphicon-pencil.text-primary
                          a(href="http://www.jquery2dotnet.com").font  مقالات
                      tr
                        td
                          span.glyphicon.glyphicon-flash.text-success
                          a(href="http://www.jquery2dotnet.com").font  الاخبار
                      tr
                        td
                          span.glyphicon.glyphicon-file.text-info
                          a(href="http://www.jquery2dotnet.com").font  النشرات الإخبارية
                      tr
                        td
                          span.glyphicon.glyphicon-comment.text-success
                          a(href="http://www.jquery2dotnet.com").font  تعليقات
                          | 
                          span.badge 42
              .panel.panel-default
                .panel-heading.font
                  h4.panel-title
                    a(data-toggle="collapse", data-parent="#accordion", href="#collapseTwo")
                      span.glyphicon.glyphicon-th
                      |  وحدات
                #collapseTwo.panel-collapse.collapse
                  .panel-body#panel-body
                    table.table
                      tr
                        td
                          a(href="http://www.jquery2dotnet.com").font  الطلبات
                          | 
                          span.label.label-success  $ 320
                      tr
                        td
                          a(href="http://www.jquery2dotnet.com").font  الفواتير
                      tr
                        td
                          a(href="http://www.jquery2dotnet.com").font  الشحنات
                      tr
                        td
                          a(href="http://www.jquery2dotnet.com").font  الظرائب
              .panel.panel-default
                .panel-heading.font
                  h4.panel-title
                    a(data-toggle="collapse", data-parent="#accordion", href="#collapseThree")
                      span.glyphicon.glyphicon-user
                      |  الحساب
                #collapseThree.panel-collapse.collapse
                  .panel-body#panel-body
                    table.table
                      tr
                        td
                          a(href="http://www.jquery2dotnet.com").font تغيير كلمة المرور
                      tr
                        td
                          a(href="http://www.jquery2dotnet.com").font التنبيهات
                          span.label.label-info 5
                      tr
                        td
                          a(href="http://www.jquery2dotnet.com").font استيراد وتصدير
                      tr
                        td
                          span.glyphicon.glyphicon-trash.text-danger
                          | 
                          a.text-danger(href="http://www.jquery2dotnet.com").font حذف المستخدم 
              .panel.panel-default.font
                .panel-heading
                  h4.panel-title
                    a(data-toggle="collapse", data-parent="#accordion", href="#collapseFour")
                      span.glyphicon.glyphicon-file
                      |  تقارير
                #collapseFour.panel-collapse.collapse
                  .panel-body#panel-body
                    table.table
                      tr
                        td
                          span.glyphicon.glyphicon-usd
                          a(href="http://www.jquery2dotnet.com")  مبيعات
                      tr
                        td
                          span.glyphicon.glyphicon-user
                          a(href="http://www.jquery2dotnet.com")  زبائن
                      tr
                        td
                          span.glyphicon.glyphicon-tasks
                          a(href="http://www.jquery2dotnet.com")  منتجات
                      tr
                        td
                          span.glyphicon.glyphicon-shopping-cart
                          a(href="http://www.jquery2dotnet.com")  سلة الشراء
          block cPanel  
            .col-sm-6.col-md-6.col-md-offset-2
              .panel.panel-primary.font
                .panel-heading
                  h3.panel-title#panel-title
                    span.glyphicon.glyphicon-bookmark
                    | 
                    | لوحة التحكم
                .panel-body
                  .row
                    .col-xs-6.col-md-6
                      a.btn.btn-danger.btn-lg(href="#", role="button")
                        span.glyphicon.glyphicon-list-alt
                        br
                        | تطبيقات
                      | 
                      a.btn.btn-warning.btn-lg(href="#", role="button")
                        span.glyphicon.glyphicon-bookmark
                        br
                        | الإشارات
                      | 
                      a.btn.btn-primary.btn-lg(href="#", role="button")
                        span.glyphicon.glyphicon-signal
                        br
                        | تقارير
                      | 
                      a.btn.btn-primary.btn-lg(href="#", role="button")
                        span.glyphicon.glyphicon-comment
                        br
                        | تعليقات
                    .col-xs-6.col-md-6
                      a.btn.btn-success.btn-lg(href="#", role="button")
                        span.glyphicon.glyphicon-user
                        br
                        | مستخدمين
                      | 
                      a.btn.btn-info.btn-lg(href="#", role="button")
                        span.glyphicon.glyphicon-file
                        br
                        | ملاحظات
                      | 
                      a.btn.btn-primary.btn-lg(href="#", role="button")
                        span.glyphicon.glyphicon-picture
                        br
                        | صور
                      | 
                      a.btn.btn-primary.btn-lg(href="#", role="button")
                        span.glyphicon.glyphicon-tag
                        br
                        | العلامات
                  a.btn.btn-success.btn-lg.btn-block(href="http://www.jquery2dotnet.com/", role="button")
                    span.glyphicon.glyphicon-globe
                    | موقع
    block content
    block footer
      footer.footer.font
        .container
          p.text-muted جميع الحقوق محفوظة لشركة ناقه للحلول الثقنية 2015 © 
             
    