extends layout
block authenticationStyle
block errorStyle
block content
block cPanel
  .container
    .row
      .col-md-10
        .btn-group.btn-breadcrumb
          a.btn.btn-default(href="/cPanel")
            i.glyphicon.glyphicon-home
          .btn.btn-default القاعات الدراسية
          .btn.btn-default.active عرض القاعات الدراسية
        br
        br
        .panel.panel-default
          .panel-heading
            .row
              .pull-right(style="margin-right: 10px;")
                h3#h3.panel-title عرض القاعات الدراسية
              .col-xs-6.col-md-6
                .input-group
                  input.form-control(type='text', placeholder='بحث...')
                  .input-group-btn
                    button.btn.btn-default
                      i.glyphicon.glyphicon-search
              .pull-left(style="margin-left: 10px;")
                a.btn.btn-success(href='/newLocation', role='button',data-toggle='modal')
                  span.glyphicon.glyphicon-plus
                  span.text-none  إضافة قاعة دراسية
              .pull-left(style="margin-left: 10px;")
                a.btn.btn-primary(href='#', role='button',data-toggle='modal')
                  span.glyphicon.glyphicon-print
                  span.text-none  طباعة
          .table-responsive
            table#mytable.table.table-bordred.table-striped
              thead
                th
                  input#checkall(type="checkbox")
                th اسم القاعة
                th.text-center كمية استعاب الطلبة
                th.text-center تعديل
                th.text-center إلغاء
              tbody
              for i in loc
                tr
                  td
                    input.checkthis(type="checkbox")
                  td #{i.name}
                  td.text-center #{i.quantity}
                  td.text-center
                    p(data-placement="top", data-toggle="tooltip", title="تعديل")
                      button.btn.btn-primary.btn-xs(data-title="Edit", data-toggle="modal",value="#{i.id}", data-target="#edit")
                        span.glyphicon.glyphicon-pencil
                  td.text-center
                    p(data-placement="top", data-toggle="tooltip", title="إلغاء")
                      button.btn.btn-danger.btn-xs(value="#{i.id}",data-title="Delete", data-toggle="modal", data-target="#delete")
                        span.glyphicon.glyphicon-trash
                
          .clearfix
          ul.pagination.pull-right
            li.disabled
              a(href="#")
                span.glyphicon.glyphicon-chevron-right
            li.active
              a(href="#") 1
            li
              a(href="#") 2
            li
              a(href="#") 3
            li
              a(href="#") 4
            li
              a(href="#") 5
            li
              a(href="#")
                span.glyphicon.glyphicon-chevron-left
  #edit.modal.fade(tabindex="-1", role="dialog", aria-labelledby="edit", aria-hidden="true")
    .modal-dialog
      .modal-content
        form.form#updateLocation(action="/updateLocation", method="post", accept-charset="utf-8", role="form")
          .modal-header
            button.close(type="button", data-dismiss="modal", aria-hidden="true")
              span.glyphicon.glyphicon-remove(aria-hidden="true")
            h4#Heading.modal-title.custom_align تعديل فصل دراسي
          .modal-body
            .form-group
              .row
                .col-xs-6.col-md-6
                  label اسم القاعة
                  input.form-control#name(type="text", name="name", placeholder="عرض اسم القاعة من قاعدة البيانات")
                .col-xs-6.col-md-6
                  label كمية استعاب الطلبة
                  input.form-control#quantity(type="text", name="quantity", placeholder="عرض كمية استعاب الطلبة من قاعدة البيانات")
                  input#locid(type="hidden",name="locid")
          .modal-footer
            button.btn.btn-warning.btn-lg(type="submit", style="width: 100%;")
              span.glyphicon.glyphicon-ok-sign
              |  تعديل
  #delete.modal.fade(tabindex="-1", role="dialog", aria-labelledby="edit", aria-hidden="true")
    .modal-dialog
      .modal-content
        form.form#deletLocation(action="#", method="post", accept-charset="utf-8", role="form")
          .modal-header
            button.close(type="button", data-dismiss="modal", aria-hidden="true")
              span.glyphicon.glyphicon-remove(aria-hidden="true")
            h4#Heading.modal-title.custom_align إلغاء قاعة دراسية محددة
          .modal-body
            .alert.alert-danger.h4
              span.glyphicon.glyphicon-warning-sign
              |  هل تريد فعلا الغاء هذه القاعة الدراسية ؟
          .modal-footer
            button.btn.btn-success(type="button")
              span.glyphicon.glyphicon-ok-sign
              |  نعم
            button.btn.btn-default(type="button", data-dismiss="modal")
              span.glyphicon.glyphicon-remove
              |  لا
  script(src='/js/jquery-2.1.1.min.js')
  script(src='/js/bootstrap.min.js')
  script(src='/js/backToTop.js')
<<<<<<< HEAD
  script(src='/js/location.js')

=======
  script(src='/js/jquery.validate.min.js')    
  script(src='/js/newLocation.js')
>>>>>>> e5ac25f313ec07a3370d2a7717047e9e2059dad3
  script.
    $(document).ready(function(){
      $("#mytable #checkall").click(function () {
        if ($("#mytable #checkall").is(':checked')) {
            $("#mytable input[type=checkbox]").each(function () {
              $(this).prop("checked", true);
            });
        } else {
            $("#mytable input[type=checkbox]").each(function () {
                $(this).prop("checked", false);
            });
          }
      });
        $("[data-toggle=tooltip]").tooltip();
        
    });