extends layout
block authenticationStyle
block content
block cPanel
  .container.font
    .row
      .col-md-6.col-md-offset-2
        form.form#newSemester(action="/newSemester", method="post", accept-charset="utf-8", role="form")
          legend  إضافة فصل دراسي 
          .row
            .col-xs-6.col-md-4.col-md-offset-1
              label.h4 الفصل الدراسي
            .col-xs-6.col-md-5.col-md-offset-1
              select.form-control.selectpicker(name="sem_type",style="padding-top: 0px;")
                option(value="", style='color:grey; display:none;') اختر الفصل الدراسي...
                option(value="1") ربيعي
                option(value="2") خريفي
                option(value="3") صيفي
          br
          .row
            .col-xs-6.col-md-4.col-md-offset-1
              label.h4 سنة الفصل الدراسي
            .col-xs-6.col-md-5.col-md-offset-1
              input.form-control#year(name="year",type="text", placeholder="سنة الفصل الدراسي")
          br
          .row
            .col-xs-6.col-md-5.col-md-offset-1
              label.h4 هل هذا هو الفصل الحالي 
            .col-xs-6.col-md-5
              select.form-control.selectpicker(name="current",style="padding-top: 0px;")
                option(value="", style='color:grey; display:none;') اختر الاجابة...
                option(value="1") نعم
                option(value="2") لا
          br
          .row
            .col-xs-6.col-md-4.col-md-offset-1
              label.h4 يبدأ الفصل الدراسي
            .col-xs-6.col-md-5.col-md-offset-1
              input.form-control#starting_date(type="text", name="starting_date", placeholder="تاريخ بداية الفصل الدراسي")
          br
          .row
            .col-xs-6.col-md-5.col-md-offset-1
              label.h4 ينتهي الفصل الدراسي
            .col-xs-6.col-md-5
              input.form-control#ending_date(type="text", name="ending_date", placeholder="تاريخ نهاية الفصل الدراسي")
          hr
          .col-md-2.col-md-offset-5
            button.btn.btn-primary.btn-lg(type="submit")
              | إضافة
  script(src='/js/jquery-2.1.1.min.js')
  script(src='/js/bootstrap.min.js')
  script(src='/js/backToTop.js')
  script(src='/js/bootstrap-select.min.js')
  script(src='/js/moment-with-locales.min.js')
  script(src='/js/bootstrap-datetimepicker.min.js')
  script(src='/js/jquery.validate.min.js')
  script(src='/js/bootstrap-notify.min.js')
  script(src='/js/newSemester.js')
  script.
    $(function () {
      $('#year').datetimepicker({
        viewMode: 'years',
        format: 'YYYY'
      });
      $('#starting_date,#ending_date').datetimepicker({
        viewMode: 'years',
        format: 'YYYY-MM-DD',
        locale: 'ar-sa'
      });
    });