extends layout
block authenticationStyle
block errorStyle
block errorStyle
block content
block cPanel
  .container
    .row
      .pull-right
        .btn-group.btn-breadcrumb
            a.btn.btn-default(href="/cPanel")
              i.glyphicon.glyphicon-home
            .btn.btn-default الفصول الدراسية
            .btn.btn-default.active إضافة فصل الدراسية
      .col-md-6.col-md-offset-2
        br
        br  
        form.form#newSemester(action="/newSemester", method="post", accept-charset="utf-8", role="form")
          legend  إضافة فصل دراسي
            .pull-left
              a.btn.btn-primary(href='/semesters', role='button')
                span.glyphicon.glyphicon-th-list
                span  عرض الفصول الدراسية
          .form-group
            .row
              .col-xs-6.col-md-6
                label.h4 نظام الدراسة
                select.form-control.selectpicker#sem_type(name="sem_type", style="padding-top: 0px;", tabindex="1")
                  option(value="", style='color:grey; display:none;') اختر النظام الدراسي...
                  option(value="1") سنة
                  option(value="2") فصل
              .col-xs-6.col-md-6#System
                label.h4 الفصل الدراسي
                select.form-control.selectpicker#system(name="system_type", style="padding-top: 0px;", tabindex="1")
                  option(value="", style='color:grey; display:none;') اختر الفصل الدراسي...
                  option(value="1") ربيعي
                  option(value="2") خريفي
                  option(value="3") صيفي
          .form-group
            .row
              .col-xs-6.col-md-6
                label.h4 يبدأ الفصل الدراسي
                input.form-control#starting_date(type="text", name="starting_date", placeholder="تاريخ بداية الفصل الدراسي")
              .col-xs-6.col-md-6
                label.h4 ينتهي الفصل الدراسي
                input.form-control#ending_date(type="text", name="ending_date", placeholder="تاريخ نهاية الفصل الدراسي")
          .form-group
            .row
              .col-xs-6.col-md-6
                label.h4 سنة الفصل الدراسي
                input.form-control#year(name="year",type="text", placeholder="سنة الفصل الدراسي")
              .col-xs-6.col-md-6
                label.h4 هل هذا هو الفصل الحالي 
                select.form-control.selectpicker(name="current",style="padding-top: 0px;")
                  option(value="", style='color:grey; display:none;') اختر الاجابة...
                  option(value="1") نعم
                  option(value="2") لا
          br     
          hr
          .col-xs-2.col-xs-offset-5.col-md-2.col-md-offset-5
            button.btn.btn-primary(type="submit")
              i.fa.fa-plus
              span  إضافة
    br
    br
  script(src='/js/jquery-2.1.1.min.js')
  script(src='/js/bootstrap.min.js')
  script(src='/js/backToTop.js')
  script(src='/js/bootstrap-select.min.js')
  script(src='/js/moment-with-locales.min.js')
  script(src='/js/bootstrap-datetimepicker.min.js')
  script(src='/js/jquery.validate.min.js')
  script(src='/js/bootstrap-notify.min.js')
  script(src='/js/newSemester.js')
  script.
    $(function () {
      $('#year').datetimepicker({
        viewMode: 'years',
        format: 'YYYY'
      });
      $('#starting_date,#ending_date').datetimepicker({
        viewMode: 'years',
        format: 'YYYY-MM-DD',
        locale: 'ar-sa'
      });
    });