extends layout
block authenticationStyle
block content
block cPanel
  .container.font
    .row
      .col-md-6.col-md-offset-2
        form.form(action="newDivision", method="post", accept-charset="utf-8", role="form")
          legend  إضافة مستخدم

          .row
            .col-xs-6.col-md-4.col-md-offset-1
              label.h4 اسم المستخدم
            .col-xs-6.col-md-4.col-md-offset-1
              input.form-control#name(type="text", name="name", placeholder="اسم المستخدم")
          .row
            .col-xs-6.col-md-4.col-md-offset-1
              label.h4 البريد الالكتروني
            .col-xs-6.col-md-4.col-md-offset-1
              input.form-control#emil(type="text", name="emil", placeholder="البريد الالكتروني")
          .row
            .col-xs-6.col-md-4.col-md-offset-1
              label.h4 تأكيد البريد الالكتروني
            .col-xs-6.col-md-4.col-md-offset-1
              input.form-control#confirm_emil(type="text", name="confirm_emil", placeholder="تأكيد البريد الالكتروني")
          .row
            .col-xs-6.col-md-4.col-md-offset-1
              label.h4 الرقم السري
            .col-xs-6.col-md-4.col-md-offset-1
              input.form-control#password(type="text", name="password", placeholder="الرقم السري")
          .row
            .col-xs-6.col-md-4.col-md-offset-1
              label.h4 تأكيد الرقم السري
            .col-xs-6.col-md-4.col-md-offset-1
              input.form-control#confirm_password(type="text", name="confirm_password", placeholder="تأكيد الرقم السري")
          .row
            .col-xs-6.col-md-4.col-md-offset-1
              label.h4 رقم الهاتف
            .col-xs-6.col-md-4.col-md-offset-1
              input.form-control#phone(type="text", name="phone", placeholder="رقم الهاتف")          
          hr
          button.btn.btn-lg.btn-primary.btn-block(type="submit")
            | إضافة
  script(src='/js/jquery-1.11.2.min.js')
  script(src='/js/bootstrap.min.js')
  script(src='/js/bootstrap-select.min.js')