extends layout
block authenticationStyle
block errorStyle
block content
  .container
    .row
      .col-md-6
        .pull-right
          .btn-group.btn-breadcrumb
              a.btn.btn-default(href="/cPanel")
                i.glyphicon.glyphicon-home
              .btn.btn-default.active طباعة كشف حسب الشعبة .. 
      br
      br
      br
      .col-md-6.col-md-offset-2
        form.form#reportFormMember(action="", method="", accept-charset="utf-8", role="form")
          legend  طباعة كشف حسب الشعبة ..

          .form-group
            .row
              .col-xs-6.col-md-6
                label.h4 اسم القسم
                select.form-control.selectpicker#Department(name="department", data-live-search="true", data-size=5)
                  option(value="", style='color:grey; display:none;') اختر القسم...
                  for department in dep
                    option(value="#{department.id}")|#{department.name}  
              .col-xs-6.col-md-6
                label.h4 اسم الشعبة
                select.form-control.selectpicker#Division(name="division", data-live-search="true", data-size=5)        
          br
          hr
          .form-group
            .row
              .col-xs-4.col-xs-offset-1.col-md-4.col-md-offset-2
                button#print.btn.btn-primary(target="_blank", type="button")
                  i.fa.fa-eye
                  span  كشف المحاضرين
              .col-xs-4.col-md-4
                button#print1.btn.btn-info(target="_blank", type="button")
                  i.fa.fa-eye
                  span  كشف المواد الدراسية

  script(src='/js/jquery-2.1.1.min.js')
  script(src='/js/bootstrap.min.js')
  script(src='/js/bootstrap-select.min.js')
  script(src='/js/jquery.validate.min.js')
  script(src='/js/bootstrap-notify.min.js')
  script(src='/js/backToTop.js')
  script(src='/js/helpers.js')
  script(src='/js/reportFormMember.js')
  script(src='/js/reports.js')  