<html>
  <head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/css/bootstrap-rtl.min.css">
   <meta charset="utf-8"/>
   <style>
      .break { 
        page-break-before: always; 
      }
      @media print {
        footer { 
          page-break-after: always;
        }
      }
      @font-face {
        font-family: 'Droid Arabic Kufi';
        src : url("http://localhost:3000/fonts/DroidKufi-Regular.ttf") format("truetype");
      }
      body {
        font-family: 'Droid Arabic Kufi';
        font-size: 12px;
      }

    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="row">
          <div class="col-xs-4 col-xs-offset-4">
            <P class="text-center">وزارة التعليم العالي والبحث العلمي</P>
            <P class="text-center">الهيئة الوطنية للتعليم الثقني والفني</P>
            <P class="text-center">إدارة المعاهد التقنية العليا</P>
            <P class="text-center">المعهد العالي للمهن الشاملة</P>
            <P class="text-center">طلب ســحب مـلـف </P>
          </div>  
          </div>     

          <div style="height: 30px;"></div>    
          <div class="row">
            <div class="col-xs-4">
             <p>ألأخ <span>/</span> مدير المكتب <span>:-</span></p>
            </div>
          </div> 

          <div style="height: 10px;"></div>    
          <div class="row">
            <div class="col-xs-4 col-xs-offset-2">
             <p>** بعـد التـحيـة **</p>
            </div>
          </div>

          <div style="height: 10px;"></div>    
          <div class="row">
            <div class="col-xs-5">
             <p>أنا الـطالب <span>&nbsp;&nbsp; {{full_name}} &nbsp;</span></p></div>
              <div class="col-xs-5">
              <p>رقم القيد <span>&nbsp;&nbsp; {{set_number}} &nbsp;</span> </p>
            </div>
          </div>  

          <div style="height: 10px;"></div>    
          <div class="row">
            <div class="col-xs-5">
             <p>المسجل بقسم <span>&nbsp;&nbsp; {{dept}} &nbsp;</span></p></div> 
              <div class="col-xs-5">
              <p>الفصل الدراسي <span>&nbsp;&nbsp; {{sem}} {{year}} &nbsp;</span> </p>
            </div>
          </div>

          <div style="height: 10px;"></div>    
          <div class="row">
            <div class="col-xs-12">
           <!--   <p> خريف<span>&nbsp;( )</span>&nbsp;&nbsp;&nbsp; ربيع<span>&nbsp;( ).</span> </p> -->
            </div>
          </div>

          <div style="height: 10px;"></div>    
          <div class="row">
            <div class="col-xs-12">
             <p> أتقدم لكم بطلبي هذا أرجو منكم الموافقة على سحب ملفي الدراسي وذلك<span>&nbsp;.</span> </p>
            </div>
          </div>

          <div style="height: 10px;"></div>    
          <div class="row">
            <div class="col-xs-11 col-xs-offset-1">
             <p><span>..................................................................................................................................</span></p>
             <p><span>..................................................................................................................................</span></p>
            </div>
          </div>

          <div style="height: 20px;"></div>    
          <div class="row">
            <div class="col-xs-5 col-xs-offset-5">
             <p>* الســــــــــــلام *</p>
            </div>
          </div>

          <div style="height: 20px;"></div>    
          <div class="row">
            <div class="col-xs-12">
             <p>رأي مدير المكتب <span>....................................................................................................................</span>
            </div>
          </div>  

          <div style="height: 10px;"></div>    
          <div class="row">
            <div class="col-xs-5">
             <p>التوقيع <span>&nbsp;&nbsp;........................................&nbsp;</span></p></div>
             <div class="col-xs-5">
             <p> التاريخ <span>&nbsp;&nbsp;.....................................&nbsp;</span> </p>
            </div>
          </div>

          <div style="height: 10px;"></div>    
          <div class="row">
            <div class="col-xs-5">
             <p>أستلمت أنا<span>&nbsp;&nbsp;.....................................&nbsp;</span></p></div>
             <div class="col-xs-6">
              <p>الحامل البطاقة الشخصية رقم <span>&nbsp;&nbsp;...............................&nbsp;</span> </p>
            </div>
          </div>

          <div style="height: 10px;"></div>    
          <div class="row">
            <div class="col-xs-12">
             <p> الملف كامل بجميع مستنداته وأتعهد بعدم العودة للتسجيل بالمعهد مرة أخرى<span>&nbsp;.</span></p>
            </div>
          </div>

          <div style="height: 20px;"></div>    
          <div class="row">
            <div class="col-xs-4 pull-left">
             <p> التوقيع &nbsp;<span>&nbsp;..............................</span> </p>
            </div>
          </div>

          <div style="height: 20px;"></div>    
          <div class="row">
            <div class="col-xs-4 pull-left">
             <p> التاريخ&nbsp;<span>&nbsp;.................................</span> </p>
            </div>
          </div>

        </div>
      </div>  
    </div>
  </body>
</html>