<html>
  <head>
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/css/bootstrap-rtl.min.css">
    <style>
      @font-face {
        font-family: 'Amiri';
        font-style: normal;
        font-weight: 400;
        src: url("http://localhost:3000/fonts/amiri-regular.ttf") format("truetype");
      }
      body {
        font-family: 'Amiri';
      }
      .fontSize{
        font-size: 21px;
      }
      .fontSizeBody{
        font-size: 17px;
        line-height: 30px;
      }
    </style>
    <meta charset="utf-8"/>
  </head>
  <body>
    <!-- <div class="container"> -->
      <!-- <div class="row"> -->
        <!-- <div class="col-xs-10 col-xs-offset-1"> -->
          <div style="height: 21px;"></div>
          <div class="text-center fontSize">
            <div> وزارة التعليم العالى والبحث العلـمى </div>
            <div> ادارة المعاهد التقنية العليا </div>
          </div>
          <span>_________________________________________________________________________________________________</span>
          <div style="height: 13px;"></div>
          <div class="row text-center" >
            <div class="fontSize"> الـمـعـهـد الـعـالـي لـلـمـهـن الـشـامـلـة <span>/</span> الـقـره بـولـلـي </div>
            <div class="fontSize"> مـكـتـب الـتـسـجـيـل والـدراسـة والامـتـحـنـات </div>
            <div style="height: 13px;"></div>
            <h4> <span>* *</span> تــعــريــف طــالــب <span>* *</span> </h4>
          </div>
          <div style="height: 13px;"></div>
            <div class="row">
              <div class="col-xs-12">
                إلـى مـن يـهـمـه الامـر <span>:-</span>
              </div>
            </div>
            <div style="height: 9px;"></div>
            <div class="row text-center">
              <div class="col-xs-12">
                <h4> <span>* *</span> تــحــيــة طــيــبــة <span>* *</span> </h4>
              </div>
            </div>
            <div style="height: 9px;"></div>
            <div class="row">
              <div class="col-xs-12">
                يـفـيـد مـكـتـب الـتـسـجـيـل والـدراســة والامـتـحــانـات بـالـمـعـهـد الـعـالـي لـلـمـهـن الـشــامـلـة بـأن الـطـالـب <span></span> <span>........................</span> رقـم قـيـد <span>(........................</span><span>)</span> هـو أحـد الـطـلـبـة بـالـمـعـهـد بـقـسـم <span>........................</span> شـعـبـة <span>......................</span> الـفـصـل <span>......................</span> لـفـصـل ربيع 2015م <span>.</span>
              </div>
            </div>
            <div style="height: 5px;"></div>
            

        <!-- </div> -->
      <!-- </div>   -->
    <!-- </div> -->
  </body>
</html>