extends layout
block authenticationStyle
block errorStyle
block content
block navcPanel
  .container.font
    .row
      .text-center.h4 عرض المواد "للفصل" الدراسي للقسم "اسم القسم"
      .col-xs-9.col-md-9
        .panel.panel-default
          .panel-heading(style="padding: 5px 15px;")
            .row
              .pull-right(style="margin-right: 10px;")
                .panel-title "اسم الشعبه"
          .table-responsive
            table#mytable.table.table-bordred.table-striped.text-right
              thead
                th اسم المادة
                th رمز المادة
                th اسم المحاضر
                th رقم المجموعة
                th عدد الطلبة
                th اسم القاعة الدراسية
                th.text-center تعديل
                th.text-center إلغاء
              tbody
                tr
                  td رياضة 1
                  td MM101
                  td محمد خليف ساسي
                  td A1
                  td 50
                  td شهيد الواجب
                  td.text-center
                    p(data-placement="top", data-toggle="tooltip", title="تعديل")
                      button.btn.btn-primary.btn-xs(data-title="Edit", data-toggle="modal", data-target="#edit")
                        span.glyphicon.glyphicon-pencil
                  td.text-center
                    p(data-placement="top", data-toggle="tooltip", title="تعديل")
                      button.btn.btn-danger.btn-xs(data-title="Edit", data-toggle="modal", data-target="#delete")
                        span.glyphicon.glyphicon-remove
      .col-xs-3.col-md-3
        .panel.panel-default
          .panel-heading#panel-heading
            .pull-left
              a.btn.btn-success.btn-xs(href='#', role='button',data-toggle='modal')
                i.fa.fa-arrow-left
                span  رجوع
            .panel-title.text-center المواد المقترحة
            span.pull-right.clickable
              i.glyphicon.glyphicon-chevron-up
          .table-responsive
            table#mytable.table.table-bordred.table-striped.text-right
              thead
                th اسم المادة
                th رمز المادة
                th.text-center إضافة
              tbody
                tr
                  td رياضة 2
                  td MM102
                  td.text-center
                    p(data-placement="top", data-toggle="tooltip", title="إضافة")
                      button.btn.btn-success.btn-xs(data-title="Edit", data-toggle="modal", data-target="#add")
                        span.glyphicon.glyphicon-hand-right 
                tr
                  td رياضة 3
                  td MM103
                  td.text-center
                    p(data-placement="top", data-toggle="tooltip", title="إضافة")
                      button.btn.btn-success.btn-xs(data-title="Edit", data-toggle="modal", data-target="#add")
                        span.glyphicon.glyphicon-hand-right 
      .col-xs-9.col-md-9
        .panel.panel-default
          .panel-heading(style="padding: 5px 15px;")
            .row
              .pull-right(style="margin-right: 10px;")
                .panel-title عرض الفصول الدراسية
              .pull-left(style="margin-left: 10px;")
          .table-responsive
            table#mytable.table.table-bordred.table-striped.text-right
              thead
                th اسم المادة
                th رمز المادة
                th اسم المحاضر
                th رقم المجموعة
                th عدد الطلبة
                th اسم القاعة الدراسية
                th.text-center إلغاء
              tbody
                tr
                  td رياضة 1
                  td MM101
                  td محمد خليف ساسي
                  td A1
                  td 50
                  td شهيد الواجب
                  td.text-center
                    p(data-placement="top", data-toggle="tooltip", title="تعديل")
                      button.btn.btn-danger.btn-xs(data-title="Edit", data-toggle="modal", data-target="#edit")
                        span.glyphicon.glyphicon-hand-left
      .col-xs-3.col-md-3
        .panel.panel-default
          .panel-heading(style="padding: 5px 15px;")
            .row
              .panel-title.text-center المواد الملغية
          .table-responsive
            table#mytable.table.table-bordred.table-striped.text-right
              thead
                th اسم المادة
                th رمز المادة
                th.text-center إضافة
              tbody
                tr
                  td رياضة 2
                  td MM102
                  td.text-center
                    p(data-placement="top", data-toggle="tooltip", title="تعديل")
                      button.btn.btn-success.btn-xs(data-title="Edit", data-toggle="modal", data-target="#edit")
                        span.glyphicon.glyphicon-hand-right
  #edit.modal.fade.font(tabindex="-1", role="dialog", aria-labelledby="edit", aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true")
            span.glyphicon.glyphicon-remove(aria-hidden="true")
          h4#Heading.modal-title.custom_align تعديل فصل دراسي
        .modal-body
          .form-group
            .row
              .col-xs-6.col-md-6
                lable اسم المادة
                input.form-control(type="text", value="رياضة 1", disabled)
              .col-xs-6.col-md-6
                lable رمز المادة
                input.form-control(type="text", value="MM101", disabled)
          .form-group
            .row
              .col-xs-6.col-md-6
                lable اسم المحاضر/ة
                select.form-control.selectpicker#faculty_Members(name="faculty_Members", data-live-search="true")
                  option(value="", style='color:grey; display:none;') الرجاء اختيار اسم المحاضر...
                  option(value="0") محاضر1
                  option(value="1") محاضر2
              .col-xs-6.col-md-6
                lable رقم المجموعة
                input.form-control(type="text", value="A1", placeholder="رقم المجموعة")
          .form-group
            .row
              .col-xs-6.col-md-6
                lable عدد الطلبة
                input.form-control(type="text", value="50", placeholder="رقم المجموعة")
              .col-xs-6.col-md-6
                lable اسم القاعة الدراسية
                select.form-control.selectpicker#locations(name="locations", data-live-search="true")
                  option(value="", style='color:grey; display:none;') الرجاء اختيار اسم القاعة الدراسية...
                  option(value="0") محاضر1
                  option(value="1") محاضر2
        .modal-footer
          button.btn.btn-primary.btn-lg(type="button", style="width: 100%;")
            span.glyphicon.glyphicon-ok-sign
            |  تعديل
      // /.modal-content
    // /.modal-dialog
  #add.modal.fade.font(tabindex="-1", role="dialog", aria-labelledby="edit", aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true")
            span.glyphicon.glyphicon-remove(aria-hidden="true")
          h4#Heading.modal-title.custom_align إضافة مادة مقترحة
        .modal-body
          .form-group
            .row
              .col-xs-6.col-md-6
                lable اسم المادة
                input.form-control(type="text", value="رياضة 2", disabled)
              .col-xs-6.col-md-6
                lable رمز المادة
                input.form-control(type="text", value="MM102", disabled)
          .form-group
            .row
              .col-xs-6.col-md-6
                lable اسم المحاضر/ة
                select.form-control.selectpicker#faculty_Members(name="faculty_Members", data-live-search="true")
                  option(value="", style='color:grey; display:none;') الرجاء اختيار اسم المحاضر...
                  option(value="0") محاضر1
                  option(value="1") محاضر2
              .col-xs-6.col-md-6
                lable رقم المجموعة
                input.form-control(type="text", placeholder="رقم المجموعة")
          .form-group
            .row
              .col-xs-6.col-md-6
                lable عدد الطلبة
                input.form-control(type="text", placeholder="رقم المجموعة")
              .col-xs-6.col-md-6
                lable اسم القاعة الدراسية
                select.form-control.selectpicker#locations(name="locations", data-live-search="true")
                  option(value="", style='color:grey; display:none;') الرجاء اختيار اسم القاعة الدراسية...
                  option(value="0") محاضر1
                  option(value="1") محاضر2
        .modal-footer
          button.btn.btn-success.btn-lg(type="button", style="width: 100%;")
            span.glyphicon.glyphicon-ok-sign
            |  إضافة
      // /.modal-content
    // /.modal-dialog
  #delete.modal.fade.font(tabindex="-1", role="dialog", aria-labelledby="edit", aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true")
            span.glyphicon.glyphicon-remove(aria-hidden="true")
          h4#Heading.modal-title.custom_align إلغاء مادة محددة
        .modal-body
          .alert.alert-danger
            span.glyphicon.glyphicon-warning-sign
            |  هل انت متأكد من إلغاء هذه المادة؟
        .modal-footer
          button#yes.btn.btn-success(type="button")
            span.glyphicon.glyphicon-ok-sign
            |  نعم
          button.btn.btn-default(type="button", data-dismiss="modal")
            span.glyphicon.glyphicon-remove
            |  لا
      // /.modal-content
    // /.modal-dialog
  script(src='/js/jquery-2.1.1.min.js')
  script(src='/js/bootstrap.min.js')
  script(src='/js/backToTop.js')
  script(src='/js/bootstrap-select.min.js')
  script(src='/js/jquery.validate.min.js')
  script.
    $(document).ready(function(){
      $("[data-toggle=tooltip]").tooltip();
      $(document).on('click', '.panel-heading span.clickable', function(e){
        var $this = $(this);
        if(!$this.hasClass('panel-collapsed')) {
          $this.parents('.panel').find('.table-responsive').slideUp();
          $this.addClass('panel-collapsed');
          $this.find('i').removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
        } 
        else {
          $this.parents('.panel').find('.table-responsive').slideDown();
          $this.removeClass('panel-collapsed');
          $this.find('i').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
        }
      })
    });
    