extends layout
block authenticationStyle
block content
block cPanel
  .container.font
    .row
      .col-md-10
        form#newStudent(action="", method="post", accept-charset="utf-8", role="form")
          legend  تسجيل طالب/ة جديد
            .pull-left  Register new student
          h4.text-center بيانات اسم الطالب / Data student's name
          hr
          .form-group(style="margin-bottom: 25px;")
            .row
              .col-xs-3.col-md-3
                label اسم الطالب/ة
                input#first_name.form-control(type="text", name="first_name", placeholder="اسم الطالب/ة")
              .col-xs-3.col-md-3
                label اسم اﻷب
                input#father_name.form-control(type="text", name="father_name", placeholder="اسم اﻷب")
              .col-xs-3.col-md-3
                label اسم الجد
                input#grand_name.form-control(type="text", name="grand_name", placeholder="اسم الجد")
              .col-xs-3.col-md-3
                label اللقب
                input#last_name.form-control(type="text", name="last_name", placeholder="اللقب")
          .form-group(style="margin-bottom: 25px;")
            .row
              .col-xs-3.col-md-3
                label.pull-left Surname
                input#last_name_en.form-control(type="text", name="last_name_en", placeholder="Surname", dir="ltr")
              .col-xs-3.col-md-3
                label.pull-left Grandfather name
                input#grand_name_en.form-control(type="text", name="grand_name_en", placeholder="Grandfather name", dir="ltr")
              .col-xs-3.col-md-3
                label.pull-left Father name
                input#father_name_en.form-control(type="text", name="father_name_en", placeholder="Father name", dir="ltr")
              .col-xs-3.col-md-3
                label.pull-left Student name
                input#first_name_en.form-control(type="text", name="first_name_en", placeholder="Student name", dir="ltr")
          hr
          h4.text-center البيانات الاساسية / Basic information
          hr
          .form-group(style="margin-bottom: 25px;")
            .row
              .col-xs-3.col-md-3
                label اسم اﻷم
                input#mother_name.form-control(type="text", name="mother_name_en", placeholder="اسم اﻷم")
              .col-xs-3.col-md-3
                label.pull-left Mother name
                input#mother_name_en.form-control(type="text", name="mother_name_en", placeholder="Mother name", dir="ltr")
              .col-xs-3.col-md-3
                label مكان الميلاد
                input#place_birth.form-control(type="text", name="place_birth", placeholder="مكان الميلاد")
              .col-xs-3.col-md-3
                label سنة الميلاد
                input#birth_date.form-control(type="text", name="birth_date", placeholder="سنة الميلاد")
          .form-group(style="margin-bottom: 25px;")
            .row
              .col-xs-3.col-md-3
                label الجنسية
                select.form-control.selectpicker#nationality(name="nationality",title="الرجاء اختيار الجنسية...",style="padding-top: 0px;",data-live-search="true")
                  option(value="0") جنسية1
                  option(value="1") جنسية2
              .col-xs-3.col-md-3
                label الجنس
                select.form-control.selectpicker#gender(name="gender",title="الرجاء اختيار الجنس...",style="padding-top: 0px;")
                  option(value="0") ذكر
                  option(value="1") انثي
              .col-xs-3.col-md-3
                label رقم ورقة العائلة
                input#no_paper_family.form-control(type="text", name="no_paper_family", placeholder="رقم ورقة العائلة")
              .col-xs-3.col-md-3
                label رقم قيد العائلة
                input#no_reg_family.form-control(type="text", name="no_reg_family", placeholder="رقم قيد العائلة")
          hr
          h4.text-center البيانات الثانوية / Secondary data
          hr
          .form-group(style="margin-bottom: 25px;")
            .row
              .col-xs-3.col-md-3
                label عنوان اﻹقامة
                input#physical_address.form-control(type="text", name="physical_address", placeholder="عنوان اﻹقامة")
              .col-xs-3.col-md-3
                label السجل المدني
                input#civil_reg.form-control(type="text", name="civil_reg", placeholder="السجل المدني")
              .col-xs-3.col-md-3
                label رقم الهاتف
                input#phone.form-control(type="text", name="phone", placeholder="رقم الهاتف")
              .col-xs-3.col-md-3
                label مكان عمل اﻷب
                input#father_work_place.form-control(type="text", name="father_work_place", placeholder="مكان عمل اﻷب")
          .form-group(style="margin-bottom: 25px;")
            .row
              .col-xs-3.col-md-3
                label الرقم الوطني
                input#nid.form-control(type="text", name="nid", placeholder="الرقم الوطني")
              .col-xs-3.col-md-3
                label اخر شهادة
                input#last_cert.form-control(type="text", name="last_cert", placeholder="اخر شهادة")
              .col-xs-3.col-md-3
                label تخصيص اخر شهادة
                input#cust_last_cert.form-control(type="text", name="cust_last_cert", placeholder="تخصيص اخر شهادة")
              .col-xs-3.col-md-3
                label تاريخ الحصول علي الشهادة
                input#date_cert.form-control(type="text", name="date_cert", placeholder="تاريخ الحصول علي الشهادة")
          .form-group(style="margin-bottom: 25px;")
            .row
              .col-xs-5.col-md-3.col-md-offset-2
                label مكان الحصول علي الشهادة
                input#place_cert.form-control(type="text", name="place_cert", placeholder="مكان الحصول علي الشهادة")
              .col-xs-4.col-md-3
                label رقم الجلوس
                input#set_number.form-control(type="text", name="set_number", placeholder="رقم الجلوس")
              .col-xs-3.col-md-2
                label معدل الطالب
                input#student_rate.form-control(type="text", name="student_rate", placeholder="معدل الطالب")
          hr
          .col-xs-2.col-xs-offset-4.col-md-2.col-md-offset-5
            button.btn.btn-primary.btn-lg(type="submit")
              | تسجيل / Register
    br
    br
  script(src='/js/jquery-2.1.1.min.js')
  script(src='/js/bootstrap.min.js')
  script(src='/js/bootstrap-select.min.js')
  script(src='/js/moment-with-locales.min.js')
  script(src='/js/bootstrap-datetimepicker.min.js')
  script.
    $(function () {
      $('#birth_date').datetimepicker({
        viewMode: 'years',
        format: 'YYYY'
      });
      $('#date_cert').datetimepicker({
        viewMode: 'years',
        format: 'DD-MM-YYYY',
        locale: 'ar-sa'
      });
    });
  script(src='/js/jquery.validate.min.js')
  script(src='/js/bootstrap-notify.min.js')
  script(src='/js/newStudent.js')
    